.sconsign.dblite
config.log
.sconf_temp
_build*
*.o
*.os
*.dylib
*.so
*.cfgc
*.pyc
*_wrap.cc
doc/html
doc/doxygen.conf
doc/*.tag
doc/*.inc
tests/.tests
version.py
tests/PropertyList
tests/PropertySet_1
tests/citizen
tests/dateTime_1
examples/citizen
