.sconsign.dblite
config.log
.sconf_temp
_build*
*.o
*.os
*.dylib
*.so
*.cfgc
*.pyc
doc/html
doc/xml
doc/doxygen.conf
doc/*.tag
doc/*.inc
tests/.tests
tests/.cache
version.py
tests/test_PropertyList
tests/test_PropertySet_1
tests/test_citizen
tests/test_dateTime_1
examples/citizen
